.scroll-button {
    position: fixed;
    left: 20px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #333;
    color: #ffffffe7;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  .scroll-button-insta {
    bottom: 20px;
  }
  .scroll-button-linkedin {
    bottom: 70px;
  }
  .scroll-button-github {
    bottom: 120px;
  }
  .scroll-button-facebook {
    bottom: 170px;
  }
  .scroll-button-phone {
    bottom: 220px;
  }
  .scroll-button-mail {
    bottom: 270px;
  }